@import "./custom.css";
@import "tailwindcss";

@source "../**/*.blade.php";
@source "../**/*.js";
@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";

@plugin "daisyui" {
    themes: skidev --default, cupcake;
}

@plugin "daisyui/theme" {
  name: "skidev";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(14% 0 0);
  --color-base-200: oklch(20% 0 0);
  --color-base-300: oklch(26% 0 0);
  --color-base-content: oklch(97% 0 0);
  --color-primary: oklch(63% 0.237 25.331);
  --color-primary-content: oklch(97% 0.013 17.38);
  --color-secondary: oklch(76% 0.188 70.08);
  --color-secondary-content: oklch(98% 0.022 95.277);
  --color-accent: oklch(69% 0.17 162.48);
  --color-accent-content: oklch(97% 0.021 166.113);
  --color-neutral: oklch(43% 0 0);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(78% 0.154 211.53);
  --color-info-content: oklch(30% 0.056 229.695);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(26% 0.065 152.934);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 1;
}
